$color-white: hsl(0, 0%, 100%);
$lighter-white: rgb(248,250,249);
$color-black: hsl(0, 0%, 0%);

$grey-light: rgb(236, 236, 236);
$grey-light-2: rgb(250, 250, 250);
$grey-dark-2: rgb(22,22,22);
$grey-dark-3: #333;

$green:rgb(24,204,63);
$lighter-green: rgb(238,253,248);
$dark-green: rgb(18,167,51);

$blue: rgb(20,90,255);
