@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes floating {
  0% {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, 20px); }
  100% {
    transform: translate(0, 0px); } }

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

dl, ol, ul {
  margin: 0 !important; }

body {
  box-sizing: inherit; }

body {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.heading-1 {
  font-size: 5rem;
  font-weight: bolder; }
  @media only screen and (max-width: 48em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-2 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  @media only screen and (max-width: 48em) {
    .heading-2 {
      font-size: 5rem; } }

.text-medium {
  font-size: 45px; }
  @media only screen and (max-width: 48em) {
    .text-medium {
      font-size: 38px; } }

.text-big {
  font-size: 65px;
  font-family: "Roboto", sans-serif; }

.btn-download {
  cursor: pointer !important;
  transition: all .5s ease; }
  .btn-download:hover {
    transform: scale(1.2) rotate(-5deg); }

.btn-secondary, .btn-secondary:visited {
  font-size: 2.2rem;
  text-decoration: none;
  color: #145aff;
  padding: 2rem 3rem;
  text-align: center;
  background-color: #161616;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #145aff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  backface-visibility: hidden;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: white; }

.btn-secondary:hover::before, .btn-secondary:focus:before, .btn-secondary:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.btn-secondary svg {
  transform: rotate(-35deg);
  margin-left: 1rem; }

.btn-secondary svg .svg1 {
  stroke: #145aff;
  transition: stroke 0.3s; }

.btn-secondary svg .svg2 {
  stroke: #145aff;
  transition: stroke 0.3s; }

.btn-secondary:hover svg {
  transform: rotate(0); }

.btn-secondary:hover svg .svg1 {
  stroke: white; }

.btn-secondary:hover svg .svg2 {
  stroke: white; }

.btn-tertiary {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: #ececec;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .btn-tertiary::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 15px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity; }
  .btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */ }
  .btn-tertiary:hover:before, .btn-tertiary:focus:before, .btn-tertiary:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }
  .btn-tertiary:hover svg {
    transform: rotate(-35deg); }

/* Wobble Horizontal Btn */
.hvr-wobble-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

.btn-scroll {
  bottom: 5rem;
  right: 12px;
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #18cc3f;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2); }
  .btn-scroll svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.75rem;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
    stroke: white; }
  .btn-scroll:hover {
    transform: scale(0.9); }

.infotips {
  font-size: 1.5rem;
  top: 7rem;
  left: 15%;
  transform: translateX(-15%);
  width: calc(100% - 14rem);
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.1);
  z-index: 5000; }
  .infotips__items {
    width: 30rem;
    padding: 0.4rem;
    text-align: start; }
    .infotips__items img {
      width: 6rem; }
  .infotips h2 {
    color: #18cc3f;
    font-weight: bolder; }
  @media only screen and (max-width: 62em) {
    .infotips {
      font-size: 1.8rem; } }

.tooltipp {
  padding: 2rem 1rem;
  display: none;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.1); }
  .tooltipp__lists {
    padding: 1rem 6rem 1rem 3rem; }
  .tooltipp__links {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    transition: all 0.3s ease; }
    .tooltipp__links:hover {
      color: #18cc3f; }
  @media only screen and (max-width: 48em) {
    .tooltipp {
      display: block;
      background-color: white !important;
      box-shadow: none !important;
      position: static !important;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: all 1s; }
      .tooltipp__links {
        font-size: 2rem; }
      .tooltipp__lists {
        padding: 1.7rem 2rem; } }

@media only screen and (max-width: 48em) {
  .navigation__lists.active .tooltipp {
    max-height: 35rem; }
  .navigation__toggle img {
    transition: all .6s; }
  .navigation__lists.active .navigation__toggle img {
    transform: rotate(180deg); } }

.goto {
  gap: 8rem; }
  .goto:nth-of-type(1) {
    padding-top: 9rem; }
  .goto:not(:first-child) {
    padding-bottom: 16rem; }
  .goto__typo--box {
    max-width: 60rem; }
    @media only screen and (max-width: 48em) {
      .goto__typo--box {
        max-width: 100%; } }
  .goto__typo--heading {
    margin-bottom: 4rem; }
  .goto__typo--text {
    font-size: 1.6rem;
    margin: 0; }
    @media only screen and (max-width: 62em) {
      .goto__typo--text {
        font-size: 2rem; } }
  @media only screen and (max-width: 48em) {
    .goto {
      max-width: calc(100% - 7rem);
      margin: 0 3.5rem;
      margin-top: 10rem;
      gap: 3rem; }
      .goto:nth-of-type(1) {
        padding-top: 4rem; }
      .goto:not(:first-child) {
        padding-bottom: 8rem; }
      .goto:nth-of-type(3) {
        margin-bottom: 10rem; } }
  @media only screen and (max-width: 36em) {
    .goto:nth-of-type(1) {
      padding-top: 0; }
    .goto:not(:first-child) {
      padding-bottom: 0; } }

.experience-layout {
  row-gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0; }
  .experience-layout__card {
    gap: 2rem; }
    .experience-layout__card h1 {
      font-size: 2.6rem;
      font-weight: 700; }
      @media only screen and (max-width: 62em) {
        .experience-layout__card h1 {
          font-size: 2.9rem; } }
    .experience-layout__card p {
      font-size: 1.6rem; }
      @media only screen and (max-width: 62em) {
        .experience-layout__card p {
          font-size: 2rem; } }
    .experience-layout__card--icon {
      border-radius: 2.5rem; }
    .experience-layout__card--box {
      padding: 2rem 2.3rem;
      width: 75%; }
      @media only screen and (max-width: 62em) {
        .experience-layout__card--box {
          width: 100%; } }
  @media only screen and (max-width: 48em) {
    .experience-layout__card {
      flex-direction: column; }
      .experience-layout__card--box {
        padding: 2.5rem 2.8rem; } }

.epay {
  position: relative; }
  .epay__content {
    row-gap: 4rem;
    padding: 11rem 0 9rem 0; }
    @media only screen and (max-width: 62em) {
      .epay__content {
        padding: 6rem 0 3rem 0; } }
    .epay__content--typo__heading {
      font-size: 3rem; }
      @media only screen and (max-width: 62em) {
        .epay__content--typo__heading {
          font-size: 3.3rem; } }
    .epay__content--typo__text {
      font-size: 1.6rem;
      margin-top: 3rem; }
      @media only screen and (max-width: 62em) {
        .epay__content--typo__text {
          font-size: 2rem; } }
    .epay__content--btn {
      padding: 1rem 3rem;
      background-color: #12a733;
      display: inline-block;
      font-size: 1.5rem;
      color: white;
      border-radius: 0.6rem;
      margin-top: 1.6rem;
      transition: background-color 0.3s;
      cursor: pointer; }
      .epay__content--btn:hover {
        background-color: #026102; }
      @media only screen and (max-width: 62em) {
        .epay__content--btn {
          font-size: 2rem;
          padding: 1.5rem 3.5rem; } }
    .epay__content--pic {
      max-width: 55rem;
      position: absolute;
      right: 0;
      bottom: 0.1rem; }
      @media only screen and (max-width: 62em) {
        .epay__content--pic {
          position: static;
          width: 100%; } }

.faq__content {
  column-gap: 5rem;
  padding: 0 1.5rem; }
  .faq__content h1 {
    font-size: 3rem; }
    @media only screen and (max-width: 62em) {
      .faq__content h1 {
        font-size: 3.2rem; } }
  .faq__content span {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 62em) {
      .faq__content span {
        font-size: 2rem; } }
  .faq__content--context {
    margin-right: 1.5rem; }
    .faq__content--context iframe {
      width: 93%;
      aspect-ratio: 16/9;
      border-radius: 8px 0 0 8px; }
      @media only screen and (max-width: 62em) {
        .faq__content--context iframe {
          width: 85%; } }
      @media only screen and (max-width: 38em) {
        .faq__content--context iframe {
          width: 100%;
          border-radius: 8px; } }
  .faq__content--accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-btn-icon-width: 2.2rem;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-padding-x: 1.6rem;
    --bs-accordion-btn-padding-y: 1.6rem;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none; }
    .faq__content--accordion__item:not(:last-child) .faq__content--accordion__button {
      border-bottom: 2px solid #ececec; }
      .faq__content--accordion__item:not(:last-child) .faq__content--accordion__button:focus {
        border-bottom: 2px solid #ececec; }
    .faq__content--accordion__button {
      font-size: 1.55rem;
      font-weight: 500; }
      .faq__content--accordion__button:not(.collapsed) {
        color: #145aff; }
      @media only screen and (max-width: 62em) {
        .faq__content--accordion__button {
          font-size: 2.2rem; } }
    .faq__content--accordion__body {
      padding: 2rem;
      font-size: 1.48rem;
      font-weight: 500; }
      @media only screen and (max-width: 62em) {
        .faq__content--accordion__body {
          font-size: 1.9rem; } }
  @media only screen and (max-width: 62em) {
    .faq__content {
      row-gap: 5rem; } }

.footer {
  padding-bottom: 1.3rem; }
  .footer__card {
    transform: translateY(-40%);
    background-image: url(images/background.png);
    background-size: cover;
    padding: 8rem 0;
    margin-top: 22rem;
    border-radius: 1rem; }
    .footer__card--heading {
      font-size: 4.2rem;
      font-weight: 700; }
      @media only screen and (max-width: 62em) {
        .footer__card--heading {
          font-size: 4rem; } }
    .footer__card--text {
      font-size: 2.1rem;
      font-family: "Roboto", sans-serif;
      margin-top: 1.5rem; }
      @media only screen and (max-width: 62em) {
        .footer__card--text {
          font-size: 2.3rem; } }
    .footer__card--icons {
      margin-top: 5rem; }
      @media only screen and (max-width: 20em) {
        .footer__card--icons {
          display: grid !important;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 3rem !important;
          align-items: center;
          align-content: center; } }
    @media only screen and (max-width: 22em) {
      .footer__card--social {
        width: 5rem !important; } }
    @media only screen and (max-width: 20em) {
      .footer__card--social {
        margin: 0 auto; } }
    @media only screen and (max-width: 48em) {
      .footer__card {
        max-width: calc(100% - 4rem);
        margin: 0 2rem;
        margin-top: 22rem; } }
  .footer__content {
    display: flex;
    justify-content: space-between;
    margin-top: -9rem;
    padding: 0; }
    .footer__content--form {
      width: 50%;
      max-width: 60rem;
      margin-right: auto;
      font-size: 16px;
      font-weight: 500; }
      @media only screen and (max-width: 62em) {
        .footer__content--form {
          font-size: 17px; } }
      .footer__content--form--text {
        margin: 6rem 0 3rem 0; }
      .footer__content--form--input {
        height: 63px;
        width: 94%;
        padding: 1.2rem 1.8rem;
        color: white;
        background-color: #161616;
        border: none;
        border-radius: 0.5rem; }
        .footer__content--form--input:focus {
          outline: none; }
        .footer__content--form--input::placeholder {
          color: white; }
        @media only screen and (max-width: 36em) {
          .footer__content--form--input {
            width: 100%; } }
      .footer__content--form--btn {
        border: none;
        background-color: #18cc3f;
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        transition: all 0.3s ease; }
        .footer__content--form--btn:hover {
          transform: scale(1.06);
          background-color: green; }
        @media only screen and (max-width: 62em) {
          .footer__content--form--btn {
            font-size: 2.1rem; } }
        @media only screen and (max-width: 36em) {
          .footer__content--form--btn {
            height: 7rem;
            width: 16rem;
            margin-top: 3rem; } }
    .footer__content--nav {
      width: 50%;
      display: flex;
      gap: 3rem; }
      @media only screen and (max-width: 75em) {
        .footer__content--nav {
          gap: 0; } }
      @media only screen and (max-width: 48em) {
        .footer__content--nav {
          flex-direction: column; } }
    .footer__content--items {
      list-style-type: none;
      font-weight: 500; }
      .footer__content--items__heading {
        font-size: 1.8rem;
        line-height: 4.4rem; }
        @media only screen and (max-width: 62em) {
          .footer__content--items__heading {
            font-size: 2.2rem; } }
    .footer__content--lists {
      line-height: 4rem; }
    .footer__content--links, .footer__content--links:visited {
      color: white;
      text-decoration: none;
      font-size: 1.6rem;
      transition: color 0.2s; }
      @media only screen and (max-width: 62em) {
        .footer__content--links, .footer__content--links:visited {
          font-size: 2rem; } }
    .footer__content--links:hover {
      color: #18cc3f; }
    @media only screen and (max-width: 62em) {
      .footer__content {
        flex-direction: column;
        gap: 5rem; }
        .footer__content--form {
          width: 100%;
          max-width: 60rem; }
        .footer__content--nav {
          width: 100%;
          gap: 5rem; }
          .footer__content--nav ul {
            padding-left: 0 !important; } }
    @media only screen and (max-width: 48em) {
      .footer__content {
        max-width: calc(100% - 6rem);
        margin: 0 3rem;
        margin-top: -9rem; } }
  .footer__disclaimer {
    padding-top: 4rem;
    margin-top: 6rem;
    border-top: 1.5px solid #7a7a7a;
    font-size: 1.5rem; }
    @media only screen and (max-width: 62em) {
      .footer__disclaimer {
        font-size: 1.9rem; } }
    @media only screen and (max-width: 48em) {
      .footer__disclaimer {
        max-width: calc(100% - 4rem);
        margin: 0 2rem; } }

.header {
  background-color: #eefdf8;
  font-size: 1.7rem;
  border-radius: 1.6rem; }
  @media only screen and (max-width: 62em) {
    .header {
      font-size: 2.1rem; } }
  .header__logo img {
    width: 130px; }
    @media only screen and (max-width: 28.125em) {
      .header__logo img {
        width: 100%; } }
  @media only screen and (max-width: 48em) {
    .header__form--login {
      display: none; } }
  .header__form button {
    font-size: 1.9rem;
    padding: 1.58rem 0;
    width: 10rem;
    border: none; }
    @media only screen and (max-width: 62em) {
      .header__form button {
        font-size: 2.3rem;
        width: 15rem; } }
    @media only screen and (max-width: 36em) {
      .header__form button {
        width: 12rem; } }
  .header__form button:nth-child(1) {
    background-color: transparent; }
  .header__form button:nth-child(2) {
    background-color: #18cc3f;
    transition: all .3s ease; }
    .header__form button:nth-child(2):hover {
      transform: scale(1.06);
      background-color: green; }
  @media only screen and (max-width: 48em) {
    .header {
      max-width: calc(100% - 4rem);
      margin: 0 2rem; } }

.navigation {
  align-items: center;
  justify-content: space-between; }
  .navigation__toggle {
    width: 1rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    display: none; }
    @media only screen and (max-width: 48em) {
      .navigation__button {
        display: block;
        height: 8rem;
        width: 8rem;
        transform: scale(0.7);
        text-align: center;
        z-index: 2000;
        cursor: pointer; } }
    @media only screen and (max-width: 36em) {
      .navigation__button {
        transform: scale(0.6); } }
  @media only screen and (max-width: 48em) {
    .navigation__background {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3); } }
  @media only screen and (max-width: 48em) {
    .navigation__nav {
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 1500;
      visibility: hidden;
      opacity: 0;
      background-color: white;
      transform: translateY(-60%);
      transition: all 0.25s ease-out; } }
  @media only screen and (max-width: 48em) {
    .navigation__items {
      flex-direction: column;
      width: 100%;
      padding: 1.8rem 0 1.3rem 0; } }
  .navigation__lists {
    cursor: pointer; }
    @media only screen and (max-width: 62em) {
      .navigation__lists:nth-of-type(4) {
        display: none; } }
    @media only screen and (max-width: 48em) {
      .navigation__lists:nth-of-type(4) {
        display: block; } }
    @media only screen and (max-width: 48em) {
      .navigation__lists {
        flex-grow: 1;
        width: 100%;
        padding: 2.5rem; } }
  .navigation__links {
    border: none;
    font-weight: 600;
    background-color: transparent;
    color: black; }
    @media only screen and (max-width: 48em) {
      .navigation__links {
        color: #145aff !important;
        line-height: 1.4;
        color: black;
        text-decoration: none;
        transition: all 0.4s; } }
  .navigation__btnMenu {
    border: none;
    background-color: #18cc3f;
    width: 90%;
    transform: translateX(-1rem);
    height: 5rem;
    font-size: 2.4rem; }
  @media (min-width: 48em) {
    .navigation__links:focus .navigation__infotips {
      display: flex !important; }
    .navigation__lists:nth-of-type(4):hover .navigation__tooltipp {
      display: block; } }
  @media only screen and (max-width: 48em) {
    .navigation {
      justify-content: end; }
      .navigation__checkbox:checked ~ .navigation__button {
        position: fixed;
        top: 1px; }
      .navigation__checkbox:checked ~ .navigation__background {
        display: block !important; }
      .navigation__checkbox:checked ~ .navigation__nav {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); }
      .navigation__icon {
        position: relative;
        margin-top: 40%;
        width: 6rem; }
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          height: 1.5rem;
          background-color: #12a733;
          display: inline-block;
          border-radius: 0.5rem; }
        .navigation__icon::before, .navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.4s; }
        .navigation__icon::before {
          top: -2.2rem;
          width: 8rem; }
        .navigation__icon::after {
          top: 2.2rem;
          width: 4rem; }
      .navigation__button:hover .navigation__icon::before {
        top: -2.5rem; }
      .navigation__button:hover .navigation__icon::after {
        top: 2.5rem; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 1rem;
        transform: rotate(360deg); }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 1rem;
        transform: rotate(-360deg); } }

.home {
  padding: 3rem 0; }
  .home__content--left__heading {
    padding-top: 6rem; }
    @media only screen and (max-width: 48em) {
      .home__content--left__heading {
        padding-top: 0; } }
    .home__content--left__heading span {
      color: #18cc3f !important; }
    .home__content--left__heading span.typed-cursor {
      color: black !important; }
  @media only screen and (max-width: 62em) {
    .home__content--left__typo p {
      font-size: 2.1rem !important;
      text-align: justify; } }
  @media only screen and (max-width: 48em) {
    .home__content--left__download {
      width: 88% !important;
      gap: 5rem !important; } }
  @media only screen and (max-width: 36em) {
    .home__content--left__download {
      width: 98%;
      gap: 2rem !important; } }
  .home__content--left__service {
    font-size: 1.8rem;
    margin-top: 4rem; }
    @media only screen and (max-width: 48em) {
      .home__content--left__service {
        margin: 3rem 0;
        font-size: 2.3rem; } }
  .home__content--right {
    animation: floating 2s ease-in-out infinite; }
  @media only screen and (max-width: 48em) {
    .home {
      max-width: calc(100% - 4rem);
      margin: 0 2rem; } }
  @media only screen and (max-width: 36em) {
    .home {
      padding: 0; } }

.cadifytribe {
  padding: 14rem 0; }
  .cadifytribe__content--headings {
    max-width: 77rem;
    margin: 0 auto; }
    .cadifytribe__content--headings p {
      font-size: 2rem; }
  .cadifytribe__content--cards {
    border-top: 2px solid #ececec; }
    .cadifytribe__content--cards__1 {
      border-right: 2px solid #ececec; }
    .cadifytribe__content--cards__2 {
      border-right: 2px solid #ececec; }
    @media only screen and (max-width: 48em) {
      .cadifytribe__content--cards {
        border: none; }
        .cadifytribe__content--cards > * {
          border: none; } }
  @media only screen and (max-width: 48em) {
    .cadifytribe__content {
      max-width: calc(100% - 4rem);
      margin: 0 2rem; }
      .cadifytribe__content p {
        font-size: 2.2rem !important; } }
  @media only screen and (max-width: 36em) {
    .cadifytribe {
      padding: 8rem 0; } }

.wallets__content {
  padding: 14rem 0 6rem 0; }
  .wallets__content--typo {
    max-width: 70rem;
    margin: 0 auto; }
    .wallets__content--typo h3 {
      letter-spacing: 0.3rem;
      color: #12a733; }
    .wallets__content--typo h1 {
      font-size: 5rem; }
    .wallets__content--typo p {
      font-size: 19px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    @media only screen and (max-width: 48em) {
      .wallets__content--typo {
        max-width: calc(100% - 4rem);
        margin: 0 2rem; }
        .wallets__content--typo h3 {
          font-size: 2.3rem; }
        .wallets__content--typo h1 {
          font-size: 5.6rem; } }
  .wallets__content--box {
    max-width: calc(100% - 12rem);
    margin: 5rem 6rem; }
    .wallets__content--box span {
      font-size: 19px;
      color: #145aff; }
    .wallets__content--box p {
      font-size: 17px; }
    .wallets__content--box-typo {
      gap: 4rem;
      width: 37%; }
      .wallets__content--box-typo > * {
        background-color: #161616;
        padding: 3rem;
        border-radius: 1rem; }
      @media only screen and (max-width: 48em) {
        .wallets__content--box-typo {
          width: 100%; } }
    .wallets__content--box--2 {
      width: 56%; }
      @media only screen and (max-width: 48em) {
        .wallets__content--box--2 {
          width: 100%;
          margin-top: 4rem; } }
    .wallets__content--box--gif {
      padding: 4.7rem 3.2rem;
      background-color: #161616; }
      .wallets__content--box--gif img {
        width: 100%;
        border-radius: 3rem; }
    @media only screen and (max-width: 48em) {
      .wallets__content--box {
        max-width: calc(100% - 4rem);
        margin: 0 2rem; } }
  @media only screen and (max-width: 48em) {
    .wallets__content {
      max-width: calc(100% - 4rem);
      margin: 0 2rem; } }

.wallets--icons {
  width: 30px; }

.experience--heading {
  font-size: 3.2rem !important;
  font-weight: 900; }
  @media only screen and (max-width: 62em) {
    .experience--heading {
      font-size: 3.1rem; } }

@media only screen and (max-width: 48em) {
  .experience {
    max-width: calc(100% - 7rem);
    margin: 0 3.5rem; } }

.epay {
  margin: 14rem auto 0 auto;
  padding: 0 5rem;
  background-color: #fafafa; }
  @media only screen and (max-width: 48em) {
    .epay {
      max-width: calc(100% - 4rem);
      margin: 0 2rem;
      margin: 8rem 2.5rem 0 2.5rem;
      padding: 0 3rem; } }

.faq {
  padding: 5rem 0;
  margin: 8rem auto;
  background-color: #fafafa; }
  @media only screen and (max-width: 48em) {
    .faq {
      max-width: calc(100% - 4rem);
      margin: 0 2rem;
      margin: 10rem auto; } }
