.btn-download {
  cursor: pointer !important;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.2) rotate(-5deg);
  }
}

.btn-secondary {
  &,
  &:visited {
    font-size: 2.2rem;
    text-decoration: none;
    color: $blue;
    padding: 2rem 3rem;
    text-align: center;
    background-color: $grey-dark-2;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    backface-visibility: hidden;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }
  &:hover::before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  & svg {
    transform: rotate(-35deg);
    margin-left: 1rem;
  }
  & svg .svg1 {
    stroke: $blue;
    transition: stroke 0.3s;
  }

  & svg .svg2 {
    stroke: $blue;
    transition: stroke 0.3s;
  }

  &:hover svg {
    transform: rotate(0);
  }
  &:hover svg .svg1 {
    stroke: $color-white;
  }
  &:hover svg .svg2 {
    stroke: $color-white;
  }
}

.btn-tertiary {
  font-size: 2rem;
  text-decoration: none;
  color: $color-black;
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: $grey-light;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  @include respond(lg) {
    font-size: 2.2rem;
  }

  &::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 15px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
      center,
      ellipse,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  &:hover,
  &:focus,
  &:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

  &:hover svg {
    transform: rotate(-35deg);
  }
}

/* Wobble Horizontal Btn */
.hvr-wobble-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}

.btn-scroll {
  bottom: 3rem;
  right: 12px;
  position: fixed;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $green;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    stroke: $color-white;
  }

  &:hover {
    transform: scale(0.9);
  }
}

.btn-expandX {
  display: flex;
  width: 300px;
  @include respond (lg) {
    width: 240px;
  }
  &--cta {
    display: flex;
    align-items: center;
    padding: 15px 45px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background: $green;
    border: none;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    @include respond (lg) {
      padding: 13px 36px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0.5rem $grey-dark;
    }
    &__text,
    &__img {
      transform: skewX(18deg);
    }
    &__img {
    width: 10px;
    margin-left: 15px;
    position: relative;
    top: 12%;
    }

    &__svg {
      width: 35px;
      &-1 {
        transition: 0.4s;
        transform: translateX(-60%);
        &:hover {

        }
      }

      &-2 {
        transition: 0.5s;
        transform: translateX(-30%);
        &:hover {
        }
      } 

      &-3 {
        &:hover {
        }
      }
    }
    &:hover &__svg-1{
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }

    &:hover &__svg-2{
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }

    &:hover &__svg-3{
      animation: color_anim 1s infinite 0.2s;
    }
  }
}