.header {
  background-color: $lighter-green;
  font-size: 1.7rem;
  border-radius: 1.6rem;
  @include respond(lg) { 
    font-size: 2.1rem;
  }
  &__logo {
    img {
      width: 130px;
      @include respond (xs) {
        width: 100%;
      }
    }
  }

  &__form {
    &--login {
      @include respond (md) {
        display: none;
      }
    }
    button {
      font-size: 1.9rem;
      padding: 1.58rem 0;
      width: 10rem;
      border: none;
      @include respond(lg) { 
        font-size: 2.3rem;
        width: 15rem;
      }

      @include respond (sm) { 
        width: 12rem;
      }
    }
    // button:nth-child(1) { 
    //   background-color: transparent;
    // }
    button:nth-child(2) {
      background-color: $green;
    }

  }

  @include respond(md) {
    @include fullWidthMargin;;
  }
}
